<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".DialysisApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dialysis">

        <activity
            android:name="com.dialysis.app.ui.main.IntroAcitivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dialysis.app.ui.info.InfoActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.register.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.otpverify.OtpVerifyActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.daily.DailyReportActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.weight.WeightActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.drink.list.DrinkListActivity"
            android:exported="false" />

        <activity
            android:name="com.dialysis.app.ui.drink.create.CreateDrinkActivity"
            android:exported="false" />

        <receiver
            android:name="com.dialysis.app.notification.WaterReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
